a:hover {
  color: #ff956b;
  text-decoration: underline;
}

a {
  color: #ff956b;
  text-decoration: none;
  background-color: transparent;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(0,0,0,0);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(128,128,128,0);
  /*background-clip: border-box;*/
  border: 1px solid #510d0d;
  border-radius: 18px;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15), -5px -5px 10px -5px rgba(255,255,255,0.3)!important;
}

