@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Bold.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Regular.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Heavy.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Heavy.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Thin.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Thin.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Medium.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Light.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Black.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Ultralight.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Ultralight.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactRounded';
	src: url(../../assets/fonts/SFCompactRounded-Semibold.woff2) format('woff2'),
	url(../../assets/fonts/SFCompactRounded-Semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}