.shadow {
  box-shadow: 0 -.1rem 0.5rem rgba(0,0,0,0.25)!important;
}

.highlight-cleandl {
  color: #313437;
  /*background-color: #fff;*/
  padding: 50px 0;
  background: linear-gradient(to top, rgb(234,236,241), rgba(213,216,230,0.77));
  border-top: 1px solid rgba(255,255,255,0.64);
}

.highlight-clean {
  color: #313437;
  /*background-color: #fff;*/
  padding: 50px 0;
  background: linear-gradient(to top, rgb(255,255,255), rgba(210,255,206,0.77));
  border-top: 1px solid rgba(67,69,72,0.64);
}

.highlight-cleand {
  color: #313437;
  /*background-color: #fff;*/
  padding: 50px 0;
  background: linear-gradient(to top, rgb(15,16,14), rgba(54,58,54,0.77));
  border-top: 1px solid rgba(145,149,142,0.64);
}

.highlight-cleandld {
  color: #313437;
  /*background-color: #fff;*/
  padding: 50px 0;
  background: linear-gradient(to top, rgb(14,15,16), rgba(50,51,52,0.77));
  border-top: 1px solid rgba(104,108,101,0.64);
}

.cardd {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.cardd {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #33353a;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

a2 {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff;
  background: linear-gradient(0deg, rgba(45,167,237,1) 0%, rgba(29,110,224,1) 100%);
  background-color: rgba(255,255,255,0);
  border-color: rgba(222,226,230,0) rgba(222,226,230,0) rgba(255,255,255,0);
}

.nav-tabs {
  border-bottom: 1px solid rgba(222,226,230,0.1);
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: rgba(0,0,0,0) rgba(233,236,239,0) rgba(222,226,230,0);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#navwrap {
  position: sticky;
  /*top: 0px;*/
  -webkit-backdrop-filter: blur(10px);
}

a2 {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a2 {
  color: #6096ff;
  text-decoration: none;
  background-color: transparent;
}

